$body-font-family: "Inter", sans-serif;
//did not work to specify below here when changing heading styles, added as variable to theme _variables
//$header-font-family: "Poppins", sans-serif;
$grey-dk-250: #728cc4;
$link-color: #728cc4;
